<p>Hey {{ data.requestedBy.name }},</p>
<p>Live session by the name "<b>{{ data.liveSessionContent.name }}</b>" has been rescheduled on <b>{{ data.scheduledOn }}</b></p>

<p>You can click on this <a href="{{url}}">link</a> to join the live session.</p>
<br/>
<p>Thank You.</p>
<p>Team Mentorslab</p>